[Unit]
Description=OpenVusion HWSniff field collector (X11 / xinit appliance)
After=local-fs.target systemd-user-sessions.service
Wants=local-fs.target
Conflicts=getty@tty2.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/Sniff

ExecStartPre=/usr/bin/chvt 2
ExecStartPre=/usr/bin/install -d -o hwsniff -g hwsniff -m 0700 /run/hwsniff
ExecStartPre=/usr/bin/install -d -o hwsniff -g hwsniff -m 0755 /var/lib/hwsniff
ExecStartPre=/usr/bin/install -d -o hwsniff -g hwsniff -m 0755 /var/log/hwsniff
ExecStartPre=/usr/bin/install -d -o hwsniff -g hwsniff -m 0700 /var/lib/hwsniff/.cache

ExecStart=/usr/bin/xinit /opt/Sniff/scripts/start-hwsniff-appliance.sh -- :0 vt2 -keeptty -nolisten tcp -configdir /etc/X11/xorg.conf.d
ExecStopPost=/usr/bin/chvt 1

Restart=on-failure
RestartSec=3
TimeoutStopSec=40
KillSignal=SIGTERM

StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=multi-user.target
